@font-face {
    font-family: 'MyFont';
    src: url('./Product-Sans-Bold.ttf') format('truetype'),
         url('./Product-Sans-Bold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
}